POSTGIS_IMAGE=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_PASSWORD=

JWT_SECRET=

KAKAO_MAP_APP_KEY=

NAS_USERNAME=
NAS_PASSWORD=
NAS_IP=
NAS_SHARE_PATH=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
